.nav{
    margin:0;
    padding: 3px 0;
    text-align: left;;
    font-size: 20px;
    box-sizing: border-box;
    top:0;
    word-spacing: 3px;
    background-color: aqua;
    list-style-type: none;
    width: 18%;
}
.nav ul li{
    padding: 3px;
    border:1px solid aqua ;
    list-style-type: none;
    background-color:blanchedalmond ;

}
.nav ul li:hover{
    background-color: coral;
}

.head{
    font-size: 3em;
    text-align:center;
    background-image: url("in.jpg");
    margin-top: 20px;
    border:3px solid black;
    
}
body{
    font-family: cursive;
    margin: 15px 30px;
    font-size: 17px;
    padding:8px;

}
.container{
    background-color: blanchedalmond;
    margin:25px;
    padding:10px;
    border: 1px solid coral;


}
input[type="text"]{
    width: 80%;
    padding: 12px;
    border: 1px solid white;


}
.addbtn{
    padding:10px 15px;
    background-color: rgb(253, 109, 56);
    border:1px solid rgb(3, 5, 5);
    width:75%;
}
.addbtn:hover{
    background-color: rgb(253, 68, 0);
}
/* .box{
    margin:0;
    padding:0;
    box-sizing: content-box;
    border:20px solid;
} */
form{
    text-align: center;
}
/* .nav1{
    border: 10px solid ;
    border-radius: 2px;
    padding: 20px;
    text-align: center;
    text-indent: 10px;
    font-size: 20px;
    word-spacing: 100px;
    float: inline-start;
    top:0;
} */